AUTH_SECRET=secret
DATABASE_URL='postgresql://neondb_owner:npg_a6yxuVm3jskt@ep-floral-bread-a1c41n2r-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dvneovvgk
NEXT_PUBLIC_CLOUDINARY_API_KEY=915243188616524
CLOUDINARY_API_SECRET=-ur2228j8431ZMQhQRjZXNYL0dw
BASE_APP_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=